.stepper {
    width: 100%;
    height: 56px;
    background-color: #edeffc;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 32px;
        max-width: 1184px;
        z-index: 10;
        &__step {
            align-items: center;
            display: flex;
            &__pos {
                gap: 16px;
                align-items: center;
                display: flex;
                margin-right: 16px;
            }
        }
    }
}

.icon {
    background-color: #4f4fff;
    border-radius: 9999px;
    place-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #edeffc;
    width: 24px;
    height: 24px;
    display: grid;
    &--off {
        background-color: transparent;
        color: #7981b2;
        border-width: 1px;
        border-color: #7981b2;
        border: 1px solid #7981b2;
    }
}
.text {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;
    color: #141938;
    &--off {
        color: #7981b2;
    }
}
