.main-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    &__container {
        flex: 1;
        display: flex;
        overflow: hidden;
    }

    &__sidebar {
        transition: 200ms ease-in-out;
    }

    &__sidebar--closed {
        margin-left: -22.5rem;
    }

    &__content-wrapper {
        flex: 1;
        overflow: auto;
    }

    &__content {
        &--max-content {
            max-width: 100rem;
            margin: 0 auto;
        }
    }
}
