.stepperHorizontal {
    width: 100%;
    height: 56px;
    background-color: #edeffc;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1184px;
    z-index: 10;
}
.step-1 {
    align-items: center;
    display: flex;
}

.step-1__left {
    gap: 16px;
    align-items: center;
    display: flex;
    margin-right: 16px;
}

.icon {
    background-color: #4f4fff;
    border-radius: 9999px;
    place-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #edeffc;
    width: 24px;
    height: 24px;
    display: grid;
}
.text {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;
    color: #141938;
}

.summary {
    padding: 40px 0 80px;
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 32px;
        max-width: 1184px;
        z-index: 10;
        &__content {
            padding: 0 6rem;
            &__back {
                text-decoration-color: #4f4fff;
                align-items: center;
                display: inline-flex;
                color: #4f4fff;
                font-weight: 700;
                gap: 10px;
                &__icon {
                    background-color: #fff;
                    border-radius: 9999px;
                    place-content: center;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    color: #4f4fff;
                    width: 20px;
                    height: 20px;
                    display: grid;
                    border: 2px solid #4f4fff;
                    &__image {
                        width: 5px;
                    }
                }
            }
            &__description {
                margin-top: 32px;
                &__title {
                    letter-spacing: -0.6px;
                    line-height: 48px;
                    font-weight: 700;
                    font-size: 40px;
                }
            }
            &__card {
                --tw-shadow: 0 1px 24px 0 rgba(174, 172, 243, 0.251);
                --tw-shadow-colored: 0 1px 24px 0 var(--tw-shadow-color);
                box-shadow:
                    0 1px 24px 0 rgba(174, 172, 243, 0.251),
                    var(--tw-ring-shadow, 0 0 #0000),
                    var(--tw-shadow);
                margin-top: 48px;
                padding: 24px 32px;
                border-radius: 24px;
                &__asign {
                    color: #141938;
                    text-transform: uppercase;
                    letter-spacing: 0.8px;
                    line-height: 16px;
                    font-weight: 900;
                    font-size: 10px;
                }
                &__profile {
                    gap: 12px;
                    display: flex;
                    margin-top: 8px;
                    align-items: center;
                    &__name {
                        color: #141938;
                        letter-spacing: -0.2px;
                        font-weight: 900;
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                }
                &__line {
                    width: 100%;
                    height: 1px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                    background-color: #d7dbf5;
                }
                &__label {
                    line-height: 1.5rem;
                    font-weight: 900;
                    font-size: 16px;
                    letter-spacing: 0.2px;
                    color: #141938;
                }
                &__value {
                    color: #141938;
                    letter-spacing: 0.1px;
                    line-height: 1.5rem;
                    font-size: 14px;
                    margin-top: 4px;
                }
            }
        }
    }
}
